logging:
  file: ${LOG_PATH:/tmp/car-manager.log}
  level:
    com:
      fleetlize: DEBUG
    org:
      springframework:
        jms: DEBUG

server:
  port: 8081

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: ${DB_PASS:root}
    url: ${DB_URL:jdbc:mysql://localhost:3306/car_manager}
    username: ${DB_USER:root}
  sleuth:
    sampler:
      probability: 1.0

fleetlize:
  jms:
    enabled: false
    topic:
      car-creation: car-creation